*.bak
*.log

#build
[Oo]bj/
[Bb]in/
packages/
TestResults/
xcuserdata/
TestResult.xml
# Ignore xcode build folders
Build/
DerivedData/
Index/

# globs
Makefile.in
*.DS_Store
*.sln.cache
*.suo
*.cache
*.pidb
*.userprefs
*.usertasks
config.log
config.make
config.status
aclocal.m4
install-sh
autom4te.cache/
*.user
*.tar.gz
tarballs/
test-results/
Thumbs.db
*.pidb
*.userprefs
*.swp
*.nib
*.pfx
*.lock.json
*.nuget.props
*.nuget.targets
*mono_crash.*.json

# ignore Xamarin.Android Resource.Designer.cs files
Resource.designer.cs
**/*.Droid/**/[Rr]esource.[Dd]esigner.cs
**/*.Android/**/[Rr]esource.[Dd]esigner.cs
**/Android/**/[Rr]esource.[Dd]esigner.cs

#Mac bundle stuff
*.dmg
*.app

#resharper
*_Resharper.*
*.Resharper

#dotCover
*.dotCover

#Jetbrains
.idea/
!*.idea/externalDependencies.xml

#Visual Studio
.vs/

#cake
.cake-tools/

#fastlane
**/fastlane/*.md
**/fastlane/*.xml

#BenchmarksDotNet
**/BenchmarkDotNet.Artifacts/results
